<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="nav-section1">
                    

                    <div class="logo">
                        <img src="images/logo-principal.png" alt="Logo Bmol">

                        <div class="item1">
                            <h3>logo
                                
                                <div class="form" action="#" method="GET">
                                    <div class="input">Buscar productos, marcas y más <button type="submit"><i class="fas fa-search"></i></button></div>
                                    <!-- <div class="submit"><i class="fa fa-search"></i></div> -->
                                </div>

                                <div class="ul">
                                    <ul>
                                        <li> <i class="fas fa-user"></i> <div> Inicio de sesión</div></li>
                                        <li> <i class="fas fa-shopping-cart"></i> <div> Mi carrito</div></li>
                                    </ul>
                                </div>

                            </h3>
                        </div>

                        <div class="item2">
                            <h3>
                                <ul>
                                    <li><i class="fas fa-plug"></i> Servicios</li>
                                    <li><i class="fas fa-star"></i> Artistas</li>
                                    <li><i class="fas fa-question"></i> Ayuda</li>
                                </ul>
                                
                                <i class="fas fa-bars burger-menu"></i>
                            </h3>
                        </div>

                        <div class="item3">
                            <h1>logo</h1>
                        </div>

                        
                        
                    </div>

                </div>
                
            </div>
        </header>

        <main>
            <h3 class="payment-title">Ingresa tu pago</h3>
            <br>
            <form action="register-pay" method="POST" class="info-form">
                <section class="selected-product">
                    <div class="product-info">
                        <div class="text">
                            <h3>Producto seleccionado #3465</h3> 
                            <h3>Costo: $18,000</h3>
                        </div>
                    </article>
                    <article>
                        <img src="images/guitarra.jpg" alt="Bajos" class="product_img">
                        <div class="main-article">
                            <h4 class="description">BAJOS</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/bateria.jpg" alt="beterias" class="product_img">
                        <div class="main-article">
                            <h4 class="description">BATERIAS</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/teclado.jpg" alt="Teclados" class="product_img">
                        <div class="main-article">
                           <h4 class="description">TECLADOS</h4>
                        </div>
                    </article>
                </div>
            </section>
            <section class="last-visit">
                <h3>PRODUCTOS</h3>
                <div class="products">
                    <article>
                        <img src="images/DDRUM D2.jpg" alt="DDRUM" class="product_img">
                        <div class="main-article">
                         <h5 class="description">DDRUM D2</h5>
                         <p class="price">$11,999.000</p>
                        </div>
                    </article>
                    <article>
                        <img src="images/SABIAN AAX LIMITED EDITION PACK.jpg" alt="SABIAN" class="product_img">
                        <div class="main-article">
                            <h5 class="description">SABIAN AAX LIMITED EDITION PACK</h5>
                            <p class="price">$14,599.000</p>
                        </div>
                    </article>
                    <article>
                        <img src="images/LP TROPEDO SCRAPER LP335.jpg" alt="LP" class="product_img">
                        <div class="main-article">
                            <h5 class="description">LP TROPEDO SCRAPER LP335S</h5>
                            <p class="price">$269.00</p>
                        </div>
                    </article>
                    <article>
                        <img src="images/DDRUM D2R.jpg" alt="Teclados" class="product_img">
                        <div class="main-article">
                            <h5 class="description">DDRUM D2R </h5>
                            <p class="price">$11,999.00</p>
                        </div>
                    </article>
                </div>
            </section>
        </main>
        <footer>
            
        </footer>
    </body>
    <footer>
        <div class="contact">

                <div>
                    <h4>
                        BMOL
                    </h4>
                    <br>
                    <p>
                        Blvd. Puerta de Hierro 5153. Int. 203 Fraccionamiento Plaza Andares Zapopan, Jalisco. CP 45116 México
                    </p>
                </div>
                <br><br>
                <div>
                    <h4>
                        ¡CONÓCENOS!
                    </h4>
                    <br>
    
                    <ul>
                        <li>Servicios</li>
                        <li>Artistas</li>
                        <li>Preguntas</li>
                        <br>
                        <li>Inicio de Sesión</li>
                        <li>Carrito</li>
                    </ul>
                </div>
            </div>

            <div class="connect">
                <div class="notices">
                    <div>
                        <h2>¡REGISTRATE A NUESTRO BOLETIN DE NOTICIAS!</h2>
                    </div>
                    <div class="suscribe">
                        <input type="email" name="email" placeholder="Ingresa tu direccion email">
                        <button type="submit">SUSCRIBIR</button>
                    </div>
                </div>
                <br>
                <div class="social-media">
                    <div class="container">
    
                        <h4>¡CONÉCTATE!</h4>
                    </div>
                    <div class="container">
                        <p><i class="fab fa-instagram"></i></p>
                        <p><i class="fab fa-youtube"></i></p>
                        <p><i class="fab fa-facebook-square"></i></p>
                    </div>

                    <div class="container-contact-info">
                        <h4>Servicio al cliente: 01 614 426 2363</h4>
                        <h4>Email: ventas@guitarworld.mx</h4>
                    </div>
                </div>
            </div>
        </footer>
        
    </body>
</html>