<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="nav-section1">      
                    <div class="logo"> 
                        <img src="images/hero_Mesa de trabajo 1 copia 2.jpg" alt="Logo Bmol">
                    </div> 
                    <div class="form" action="#" method="GET">
                        <div class="input"><i class="fas fa-search"></i>Buscar productos, marcas y más</div>
                        <!-- <div class="submit"><i class="fa fa-search"></i></div> -->
                    </div>
                    <div>
                        <ul>
                            <li><a href="/register"><i class="fas fa-user">Inicio de Sesión</i></a></li>
                            <li><i class="fas fa-shopping-cart"></i>Mi carrito</li>
                            <li></li>
                        </ul>
                    </div>    
                </div>
                <div class="nav-section2">
                    <ul>
                        <li><i class="fas fa-concierge-bell"></i>Servicios</li>
                        <li><i class="fas fa-star"></i>Artistas</li>
                        <li><i class="fas fa-question-circle"></i>Ayuda</li>
                    </ul>
                </div>    
            </div>
        </header>
        <section class="banner">
            <img src="images/hero_Mesa de trabajo 1.jpg" alt="Banner Guitarrra">
        </section>
        <main>
            <section class="last-visit">
                <h3>BEST SELLER</h3>
                <div class="products">
                    <article>
                        <img src="images/guitarra2.jpg" alt="Guitarras" class="product_img">
                        <div class="main-article">
                            <h4 class="description">GUITARRAS</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/guitarra.jpg" alt="Bajos" class="product_img">
                        <div class="main-article">
                            <h4 class="description">BAJOS</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/bateria.jpg" alt="beterias" class="product_img">
                        <div class="main-article">
                            <h4 class="description">BATERIAS</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/teclado.jpg" alt="Teclados" class="product_img">
                        <div class="main-article">
                           <h4 class="description">TECLADOS</h4>
                        </div>
                    </article>
                </div>
            </section>
            <section class="last-visit">
                <h3>PRODUCTOS</h3>
                <div class="products">
                    <article>
                        <img src="images/DDRUM D2.jpg" alt="DDRUM" class="product_img">
                        <div class="main-article">
                         <h5 class="description">DDRUM D2</h5>
                         <p class="price">$11,999.000</p>
                        </div>
                    </article>
                    <article>
                        <img src="images/SABIAN AAX LIMITED EDITION PACK.jpg" alt="SABIAN" class="product_img">
                        <div class="main-article">
                            <h5 class="description">SABIAN AAX LIMITED EDITION PACK</h5>
                            <p class="price">$14,599.000</p>
                        </div>
                    </article>
                    <article>
                        <img src="images/LP TROPEDO SCRAPER LP335.jpg" alt="LP" class="product_img">
                        <div class="main-article">
                            <h5 class="description">LP TROPEDO SCRAPER LP335S</h5>
                            <p class="price">$269.00</p>
                        </div>
                    </article>
                    <article>
                        <img src="images/DDRUM D2R.jpg" alt="Teclados" class="product_img">
                        <div class="main-article">
                            <h5 class="description">DDRUM D2R </h5>
                            <p class="price">$11,999.00</p>
                        </div>
                    </article>
                </div>
            </section>
        </main>
        <footer>
            
        </footer>
    </body>
    <footer>
        <div class="contact">

            <div>
                <h4>
                    BMOL
                </h4>
                <p>
                    Blvd. Puerta de Hierro 5153. Int. 203 Fraccionamiento Plaza Andares Zapopan, Jalisco. CP 45116 México
                </p>
            </div>

            <div>
                <h4>
                    ¡CONÓCENOS!
                </h4>
                <ul>
                    <li>Servicios
                    <li>Artistas</li>
                    <li>Preguntas</li>
                    <li></li>
                    <li>Inicio de Sesión</li>
                    <li>Carrito</li>
                </ul>
            </div>
        </div>
    </footer>   
</html>