*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
    background-color: black;
    font-size: 24;

 }
body div .input{
    padding: 2.5px;
    color: black;
    background-color: white;

}

h3{
    font-size: 24px;
    color: white;
}

h4{
    font-size: 21px;
    color: black;
    padding: 10px;
    font-style: bold;
}
h5{
    font-size: 14px;
    color: black;
    margin-left: 10px;
}

p{
    font-size: 1rem;
    color: white;
}
main article p{
    color: black;
    margin-left: 10px;
    margin-bottom: 10px;
}

div.top-header{
    padding: 0;
    background-color:white;
}


header{
    background-color: #000;
     position: fixed;
    width: 100%;
}

header div.logo img{
    width: 10rem;
    position: absolute;
    z-index: 50;
    margin-left: 100%;
    -webkit-box-shadow: 14px 14px 14px -12px rgba(23,223,0,1);
    -moz-box-shadow: 14px 14px 14px -12px rgba(23,223,0,1);
    box-shadow: 14px 14px 14px -12px rgba(23,223,0,1);

}
div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

header div.logo{
    padding: 10px;
    position: relative;
}
header nav{
    font-size: 12px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}
main.Best-Seller{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}


header .top-header .nav-section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000;
    color: #FFF;
    
}

header .top-header .nav-section1 .form{
    margin-top: 1rem;
    margin-left: 20%;
}

header .top-header .nav-section1 div ul{
    display: flex;
    justify-content: space-evenly;
    margin-right: 2rem;
}


header .top-header .nav-section1 div ul li{
    margin: 1rem;
}

header .top-header .nav-section2{
    justify-content: space-between;
    color: #000;
    background-color: #fff;
    
}


header .top-header .nav-section2 ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-left: 40%;
}


header .top-header .nav-section2 ul li{
    margin: 1rem;
}

main{
    font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

main .info-form{
    padding-top: 20%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 80%;
}


main .info-form h3{
    color: black;
    background-color: white;
    padding: 0.5rem;
}

main .info-form .text{
    color: black;
    background-color: white;

}


main .section{
    display: flex;
    max-width: 1140;

}
section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: white;
}


main section h3{
    margin: 20px 0px;
}
main section div.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

main section div.products article{
    width: 45%;
}


main .product-info .text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main .product-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

main .product-info img{
    margin: 20px;
}

main .personal-info{
    color: white;
}

main .personal-info .info div{
    margin: 1rem;
}


main .credit-data div{
    color: white;
    margin-bottom: 20px;
}

main .credit-data .credit-card p{
    color: white;
}


main .credit-card .card-elements p{
    font-size: 1rem;
}

main .credit-card .card-elements{
    margin-top: 10px;

}

main .credit-card .card-elements input{
    width: 50%;
}

main .credit-data div .button button{
    display: flex;
}

main .credit-data div .button button{
    margin: 30px;
    border: none;
    color: #000;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 50%;
}

main .credit-data div .button button:hover{
    box-shadow: 10px 10px rgba(10, 224, 142, .8);
}

footer{
    background-color: #FFF;
}

footer .contact P{
    margin: 20px;
    color: black;
    font-size: 17;
}
footer .contact h4{
        margin: 10px;
}

}
footer .contact{
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 17;
}
footer .contact li{
    font-size: 17;
    margin-left: 20px;
    list-style-type: none;

}

@media (min-width: 361px){
    main section article .description{
        display: block;
    }
    
@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }