<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidos a Bmol</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head> 
    <body>
        <%- include('partials/header') %>
        <main>
            <section class="slider">
                <ul>
                    <li><img src="images/bemol banners_Mesa de trabajo 1.jpg" alt=""></li>
                    <li><img src="images/bemol banners_Mesa de trabajo 1 copia.jpg" alt=""></li>
                    <li><img src="images/bemol banners_Mesa de trabajo 1 copia 3.jpg" alt=""></li>
                </ul>
            </section>   
            <section class="slider">
                    <h1>BEST SELLER</h1>
                    <div class="products">
                        <article>
                            <img src="images/guitarra2.jpg" alt="Guitarras" class="product_img">
                            <div class="main-article">
                                <h4 class="description">GUITARRAS</h4>
                            </div>
                        </article>
                        <article>
                            <img src="images/guitarra.jpg" alt="Bajos" class="product_img">
                            <div class="main-article">
                                <h4 class="description">BAJOS</h4>
                            </div>
                        </article>
                        <article>
                            <img src="images/bateria.jpg" alt="beterias" class="product_img">
                            <div class="main-article">
                                <h4 class="description">BATERIAS</h4>
                            </div>
                        </article>
                        <article>
                            <img src="images/teclado.jpg" alt="Teclados" class="product_img">
                            <div class="main-article">
                               <h4 class="description">TECLADOS</h4>
                            </div>
                        </article>
                    </div>
                    <h1>PRODUCTOS</h3>
                    <div class="products">
                        <article>
                            <img src="images/DDRUM D2.jpg" alt="DDRUM" class="product_img">
                            <div class="main-article">
                             <h5 class="description">DDRUM D2</h5>
                             <p class="price">$11,999.000</p>
                            </div>
                        </article>
                        <article>
                            <img src="images/SABIAN AAX LIMITED EDITION PACK.jpg" alt="SABIAN" class="product_img">
                            <div class="main-article">
                                <h5 class="description">SABIAN AAX </h5>
                                <p class="price">$14,599.000</p>
                            </div>
                        </article>
                        <article>
                            <img src="images/LP TROPEDO SCRAPER LP335.jpg" alt="LP" class="product_img">
                            <div class="main-article">
                                <h5 class="description">LP TROPEDO </h5>
                                <p class="price">$269.00</p>
                            </div>
                        </article>
                        <article>
                            <img src="images/DDRUM D2R.jpg" alt="Teclados" class="product_img">
                            <div class="main-article">
                                <h5 class="description">DDRUM D2R </h5>
                                <p class="price">$11,999.00</p>
                            </div>
                        </article>
                        <article>
                            <img src="images/DDRUM D2R.jpg" alt="Teclados" class="product_img">
                            <div class="main-article">
                                <h5 class="description">DDRUM D2R </h5>
                                <p class="price">$11,999.00</p>
                            </div>
                        </article>
                    </div>
            </section>
        </main>
        <%- include('partials/footer') %>
    </body>
</html>