<footer>
    <div class="contact">

        <div>
            <h4>
                BMOL
            </h4>
            <br>
            <p>
                Blvd. Puerta de Hierro 5153. Int. 203 Fraccionamiento Plaza Andares Zapopan, Jalisco. CP 45116 México
            </p>
        </div>
        <br><br>
        <div>
            <h4>
                ¡CONÓCENOS!
            </h4>
            <br>

            <ul>
                <li>Servicios</li>
                <li>Artistas</li>
                <li>Preguntas</li>
                <br>
                <li>Inicio de Sesión</li>
                <li>Carrito</li>
            </ul>
        </div>
    </div>

    <div class="connect">
        <div class="notices">
            <div>
                <h2>¡REGISTRATE A NUESTRO BOLETIN DE NOTICIAS!</h2>
            </div>
            <div class="suscribe">
                <input type="email" name="email" placeholder="Ingresa tu direccion email">
                <button type="submit">SUSCRIBIR</button>
            </div>
        </div>
        <br>
        <div class="social-media">
            <div class="container">

                <h4>¡CONÉCTATE!</h4>
            </div>
            <div class="container">
                <p><i class="fab fa-instagram"></i></p>
                <p><i class="fab fa-youtube"></i></p>
                <p><i class="fab fa-facebook-square"></i></p>
            </div>

            <div class="container-contact-info">
                <h4>Servicio al cliente: 01 614 426 2363</h4>
                <h4>Email: ventas@guitarworld.mx</h4>
            </div>
        </div>
    </div>
</footer>